@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/less/font-awesome";
.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
    .gradient(@type; @colors; @dir; @prefixes; (@index - 1));
 
    @prefix  : extract(@prefixes, @index);
    @dir-old : 90 - (@dir);
 
    background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
        background-image: ~"@{type}-gradient(@{dir}, @{colors})";
    }
}

@color-black: #000000;
@color-white: #ffffff;
@color-blue: #153B8D;
@color-green: #11AB09;

.text-center{
	text-align: center;
}