<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" routerLink="/">Menu</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">link</a>
    </li>
  </ul>
</nav>